.App {
  text-align: center;
  color: #282c34;
  background-color: #282c34;
  min-height: 100vh;
}


.title-card {
  /* min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.page-container {
  min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #1F2533;
    object-fit: contain;
}

.lesson-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.lesson-title {
  text-align: center;
  color: #fff;
}

.lesson-text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lesson-text {
  color: #fff;
}